@media screen and (max-width: 1024px){
    .fullname input[type=text]{
        width: 45.7%;
    }
    .container {
        margin: auto;
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .leftside h2{
        font-size: 27px;
    }
    .container {
        margin: auto;
        width: 90%;
    }
}
@media screen and (max-width: 626px){
    .header {
        padding: 0;
        background: #ffffff;
        overflow: hidden;
    }
    .container {
        width: 100%;
        overflow: hidden;
    }
    .appdownload{
        background: #fffbe2;
        color: #3b59b0;
        font-size: 15px;
        overflow: hidden;
        display: block;
        overflow: hidden;
    }
    .logo-area{
        width: 100%;
        float: none;
        background: #3D5B99;;
    }
    .logo-area img{
        display: block;
        margin: auto;
        transform: scale(.61);
        padding: 5px 0;
    }
    .login-area .email,
    .login-area .password{
        margin: auto;
        width: 100%;
    }
    .login-area .email .ds-input{
        border-radius: 5px 5px 0 0;
        display: block;
    }
    .login-area .email .ds-n-input,
    .login-area .password .ds-n-input{
        display: none;
    }
    .login-area .password .ds-input{
        border-radius: 0 0 5px 5px;
        border-top: none;
        display: block;
    }
    .login-area .ds-input, input[type=button]{
        width: 93%;
        box-sizing: border-box;
        font-size: 15px;
        line-height: 18px;
        color: #030303;
        margin: auto;
        border: 1px solid #e7e7e7;
        background: #f5f6f7;
        padding: 12px;
    }
    .login-area{
        width: 100%;
        float: none;
        background-color: #ffffff;
        padding-top: 15px;
        overflow: hidden;
    }
    .login-area form{
        float: none;
        overflow: hidden;
    }
    .loginbtn{
        width: 100%;
    }
    .loginbtn input[type=button] {
        width: 93%;
        margin: 12px auto 13px;
        display: block;
        background: #1877f2;
        border: 1px solid #006fff;
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        padding: 8px 37px;
        border-radius: 5px;
    }
    .cnabtn {
        display: block;
    }
    .m-btn-cna{
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .m-btn-cna .line{
        width: 93%;
        margin: auto;
        box-sizing: border-box;
    }
    .m-btn-cna .line .lineleft{
        border-bottom: 1px solid #e7e7e7;
        width: 44%;
        float: left;
        margin-top: 10px;
    }
    .m-btn-cna .line .lineright{
        border-bottom: 1px solid #e7e7e7;
        width: 44%;
        float: right;
        margin-top: 10px;
    }
    .m-btn-cna .line .or{
        margin: 0px 12px;
        float: left;
        color: #4b4f56;
        font-size: 15px;
    }
    
    .cnabtn input{
        background: #00a400;
        color: #ffffff;
        width: 42%;
        margin: 15px auto 13px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        line-height: 12px;
    }
    .cnabtn a{
        display: block;
        text-align: center;
        color: #7596d9;
        font-size: 14px;
    }

    .mainsection{
        display: none;
    }
    footer{
        display: block;
    }
    footer .footerlink,
    footer .borderline,
    footer .copy p:first-child
    {
        display: none;
    }
    footer .langu{
        width: 100%;
    }
    footer .langu ul{
        text-align: center;
    }
    
    footer .langu ul li{
        text-align: center;
        width: 38%;
    }
    footer .copy p{
        text-align: center;
        font-size: 13px;
    }
    .login-area label {
        font-size: 15px;
        display: none;
    }
    .password a{
        display: none;
    }
    .login-area .email .ds-input::placeholder{
        opacity: 1;
        color: #777777;
    }
    .login-area .password .ds-input::placeholder{
        opacity: 1;
        color: #777777;
    }
}